<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="pro" class="com.Products._ProductsBean.ProductBean"> 
		  <constructor-arg value="101"/>
		  <constructor-arg value="Mani"/>
		  <constructor-arg value="1000"/>
		  <constructor-arg value="20"/>
	</bean>
	<bean id="order" class="com.Products._ProductsBean.OrderBean"> 
		  <constructor-arg value="102"/>
		  <constructor-arg ref="pro"/>
	</bean>
</beans>