<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="institute" class="com.collections3._MapStudent.StudentCourse"> 
		   <property name="stuCourses">
			   <map>
				    <entry key="JavaFullStack" value="frontend-Backend"/>
				    <entry key="DotNetFullStack" value="frontend-Backend"/>
				    <entry key="Python" value="programming language"/>
			   </map>
		   </property>
	</bean>
	 
</beans>